<!DOCTYPE html>
<html>
<head>
    <title>1705卫生间排期表</title>
</head>
<body>
<div align="center"><h1>1705卫生间排期表</h1>
    <input type="button" onclick="javascrtpt:window.location.href='/add'" value="添加" style="width: 10%;height: 30px;"></div>
<br/>
<table border="1" align="center" width="80%">
    <tr>
        <th>房间号</th>
        <th>起始时间</th>
        <th>结束时间</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    <% for(var i = 0; i < list.length; i++) { %>
        <tr>
            <td><%= list[i].room %></td>
            <td><%= list[i].beginTime %></td>
            <td><%= list[i].endTime %></td>
            <td><%= list[i].date %></td>
            <td><a href="/del?id=<%= list[i]._id %>">删除</a></td>
        </tr>
    <% } %>
</table>
<script>

</script>
</body>
</html>